<!-- <div class="text-layout">

  <h1>{{nombre | titlecase}}</h1>
  <h2>{{valor | number}}</h2>
  <h2>{{obj | json}}</h2>

</div>


<button pButton class="p-button-help" iconPos="right" icon="pi pi-check" (click)="mostrarNombre()">
  Cambiar nombre
</button>


<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis illo explicabo officiis atque in adipisci dolore
  architecto mollitia sed! Atque magni harum vero similique ducimus ipsam facere odit, tempora quasi?
</p-card>

 -->

<app-menu></app-menu>

<router-outlet></router-outlet>